<div class="container">
    <div class="row align-items-center justify-content-center vh-100">
        <div class="col-8">
            <h2 class="text-center">Holiday Expenses Calculator</h2>
            <div class="row justify-content-between mb-4">
                <div class="col-5">
                    <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                </div>
                <div class="col-5">
                    <input [(ngModel)]="amount" type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">
                </div>
                <div class="col-2">
                    <button (click)="onAddPress()" class="btn btn-secondary w-100">Add</button>  
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Expense</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expense of expenses; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{expense.name}}</td>
                        <td>{{expense.amount}}</td>
                        <td>
                            <button (click)="onRemovePress(i)" class="btn btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button (click)="onSettlePress()" class="text-end btn btn-primary">Settle Up</button>
            </div>
        </div>

        <div class="col-6" *ngIf="payouts.length > 0">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Settlement Details</h5>
                  <p class="card-text">Total: {{total}}</p>
                  <p class="card-text">Equal Share: {{equalShare}}</p>
                  <h5 class="mt-4">Payouts</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Owes</th>
                        <th scope="col">Owed</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payout of payouts; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{payout.owes}}</td>
                        <td>{{payout.owed}}</td>
                        <td>{{payout.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>
